@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

html {
  scroll-behavior: smooth;
}

.navbar .navbar-brand {
  padding: 20px 0px 20px 0px !important;
}


.hero {
  clip-path: polygon(100% 0, 100% 100%, 0 93%, 0 0);
}

@media screen and (min-width: 800px) {
  .margin-hero {
    margin-top: -100px !important;
  }  

  .name-title h1 {
    font-size: 2.5em;
    font-family: 'Yesteryear', cursive;
  }
}

@media screen and (max-width: 800px) {
  .margin-hero {
    margin-top: 0px !important;
    margin-bottom: 80px !important;
  }

  .name-title h1 {
    font-size: 1.7em;
    font-family: 'Yesteryear', cursive;
  }
}

.divider {
  position: absolute;
  bottom: -66px;
  left: 0;
  right: 120px;
  width: 110% !important;
  height: 140px;
  /* drop the height to have a constant angle for all screen widths */
}

.raise_hand {
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f590.png");
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: #0a0a0a;
  color: white;
}

#who{
  padding-bottom: 140px !important;
}

#works {
  background-color: #0a0a0a;
  color: white;
  padding-bottom: 140px !important;
  clip-path: polygon(100% 0, 100% 93%, 0 98%, 0 0);
}

#sayhi {
  padding-bottom: 120px !important;
}

.email:hover {
  text-decoration: underline;
}

strong-reverse {
  color: white;
  font-weight: 700; }

.card {
  border-radius: .4em;
}

.card .card-image {
  border-radius: .4em !important;
}

.box {
  height: 140px ;
}

.footer {
  background-color: #0a0a0a;
  color: white;
  clip-path: polygon(100% 19%, 100% 100%, 0 100%, 0 0) !important;
  padding: 6em 1.5em 4em;
}


