@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,700,600italic,700italic);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P');

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  width: 100%;
  height: 100%;
  background: white;;
}

/*#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../img/preloader.gif');
    background-repeat: no-repeat; 
    background-color: #FFF;
    background-position: center;
 }*/

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.navbar {
    top:0;
    position: fixed;
    transition: top 0.5s;
    width: 100%;
}
.navbar.expand {
    top:100px;
}

/*.navbar-brand {
    -webkit-transition: all 2s ease;   
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;

    filter: blur(0);
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);  
    -ms-filter: blur(0px);

    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.navbar-brand:hover {
    filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);

}*/

.navbar-brand img {
    -webkit-transition: width 2s, ease 1s;
    transition: width 2s, ease 1s;
}

.navbar-brand:hover img {
    width: 100px;
}



.jumbotron {
    margin-bottom: 0 !important;
    color: white;
    text-align: center;
    width: 100%;
    background-image:url('../img/jens-johnsson-121807-unsplash.jpg');
    opacity: 0.9;
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.jumbotron h1, p, hr {
    margin-top: 140px;
}

@media (max-width:360px) {
    .jumbotron-p{
        font-size: 12px;
    }
}

.parallax1 {
    /*background-image: url("../img/mikael-kristenson-242108-unsplash.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.box-parallax1{
    padding-top: 80px;
    padding-bottom: 80px;
}

.parallax1 h2 {
    color: white;
    text-align: center;
}

.bg-custom {
    background-color: #fffefc !important;
}

.features-icons{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item{
    opacity: 0;
    transform: translate(0, -40px);
    transition: .9s;
    max-width: 20rem;
}

.features-icons .features-icons-item.show {
    opacity: 1;
    transform: translate(0, 0);
    max-width: 20rem;
}


.features-icons
.features-icons-item
.features-icons-icon{
    height: 7rem;
}

footer .logo{
    width: 20px;
    height: 20px;
}

.link-red a{
    color: brown;
    text-decoration: none;
    background-color: transparent;
}

.message-success h2{
    margin-top: 10rem !important;
}

.show-left {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.show-right {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.show-left.show, .show-right.show {
    opacity: 1;
    transform: translate(0, 0);
}

.bg-brown {
    background-image: url(../img/brown.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.laptop-design{
    margin: 100px 0px 100px 0;
    width: 450px;
    transition: transform 0.5s;
}

.laptop-design:hover {
    transform: scale(1.1);
}

.laptop-text {
    margin: 100px 0 50px 0;
    color: white; 
}

@media only screen and (width: 320px) {
    .laptop-design {
        width: 250px;
        height: 125px;
        margin: 20px 0px 20px 0px;
    }
}

@media screen and (device-aspect-ratio: 40/71) { 
    .laptop-design {
        width: 200px;
        height: 125px;
        margin: 20px 0px 20px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .laptop-design {
        width: 300px;
        height: 180px;
        margin: 20px 0px 20px 0px;
    }

    .laptop-text {
        margin: 0px 0 50px 0;
        color: white;
    }

    .laptop-text h2 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .laptop-design {
        width: 300px;
        height: 150px;
        margin: 30px 0px 30px 0px;
    }
}

@media screen and (min-width: 768px) {
    .laptop-design {
        width: 400px;
        height: 250px;
        margin: 50px 0px 50px 0px;
    }

    .laptop-text {
        margin: 80px 0 50px 0;
        color: white;
        font-size: 0.1rem;
    }

    .laptop-text h2 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 992px) {
    .laptop-design {
        width: 400px;
        height: 300px;
        margin: 50px 0 50px 15px;
    }

    .laptop-text {
        margin: 80px 0 60px 0;
        color: white;
    }

    .laptop-text h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .laptop-design {
        width: 500px;
        height: 400px;
        margin: 100px 0 100px 0px;
    }

    .laptop-text {
        margin: 150px 0 50px 0;
        color: white;
    }

    .laptop-text h2 {
        font-size: 1.8rem;
    }
}

.btn {
    margin: 5px 0 0 0;
}
.btn:hover {
    margin-top: 10px;
    transition: all 0.5s;
}

.client-carousel {
    background-color: brown;
    min-height: 200px;
    margin-top: 0px;
}

.jumbotron-text {
    margin-top: 5px;
}

.jumbotron h1 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 4px 6px black;
    transition: all 0.2s;
}

@media only screen and (max-width:600px) {
    .jumbotron h1 {
        font-size: 35px;
    }
}

.jumbotron:hover h1 {
    margin-top: 100px;;
    transform: scale(1);
}


/*.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.6;
    color: #fff;
    background: #000 url("../img/img1.jpg") center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h1, p {
    text-align: center;
}
.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}*/